span.local-time {
  font-weight: bold;
}
span.local-location {
  font-weight: bold;
}

span.forn-time {
  font-weight: bold;
}
span.forn-location {
  font-weight: bold;
}

div.container {
  text-align: center;
}

img.weird {
  margin-top: 30px;
}
